#title {
    text-align: center;
    font-family: arial, sans-serif;
}

#ProductInfo {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
    font-size: small;
    color: black;
}

#ProductInfo td,
#ProductInfo th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: small;
    color: black;
}

#ProductInfo tr:nth-child(even) {
    background-color: #f2f2f2;
}

#ProductInfo tr:hover {
    background-color: #ddd;
}

#ProductInfo th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(80, 2, 2);
    color: white;
    word-break: break-all;
    font-size: small;
}