p#alert-dialog-description {
    line-height: 0 !important;
}

.closebtn {
  position: absolute;
  top: 25px;
  right: 45px;
  font-size: 60px;
  color: #dd0c0c;
  text-decoration: none;
}

.closebtn:hover {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #9e0404;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.3);
  text-decoration: none;
}

.closebtnmain {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  color: #dd0c0c;
  text-decoration: none;
  font-weight: 600;
}

.closebtnmain:hover {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  font-weight: 600;
  color: #9e0404;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.3);
  text-decoration: none;
}

.closebtnmainsite {
  position: absolute;
  top: 40px;
  right: 10px;
  font-size: 40px;
  color: #dd0c0c;
  text-decoration: none;
  font-weight: 600;
}

.closebtnmainsite:hover {
  position: absolute;
  top: 40px;
  right: 10px;
  font-size: 40px;
  font-weight: 600;
  color: #9e0404;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.3);
  text-decoration: none;
}

.invclosebtn {
  position: absolute;
  top: 6px;
  right: 3px;
  font-size: 36px;
  color: #dd0c0c;
  text-decoration: none;
}

.invclosebtn:hover {
  position: absolute;
  top: 6px;
  right: 3px;
  font-size: 36px;
  color: #9e0404;
  cursor: pointer;
  text-decoration: none;
}

#title1 {
  flex: 0 0 auto;
  margin: 0;
  padding: 0px 0px 0px 0px !important;
  z-index: 99999999;
  font-size: 30px !important;
}

@media (max-width: 800px) {
  #content {
    padding: 0px 0px 0px 0px !important;
  }
}

@media (min-width: 760px) {

  .closebtnmainsitefilter {
    position: absolute;
    top: -13px;
    right: 10px;
    font-size: 40px;
    color: #dd0c0c;
    text-decoration: none;
    font-weight: 600;
    display: none;
  }
  
  .closebtnmainsitefilter:hover {
    position: absolute;
    top: -13px;
    right: 10px;
    font-size: 40px;
    font-weight: 600;
    color: #9e0404;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    transform: scale(1.3);
    text-decoration: none;
    display: none;
  }
}

@media (max-width: 700px) {
.closebtnmainsitefilter {
  position: absolute;
  top: -13px;
  right: 10px;
  font-size: 40px;
  color: #dd0c0c;
  text-decoration: none;
  font-weight: 600;
}

.closebtnmainsitefilter:hover {
  position: absolute;
  top: -13px;
  right: 10px;
  font-size: 40px;
  font-weight: 600;
  color: #9e0404;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  transform: scale(1.3);
  text-decoration: none;
}

}