 .float-cart {
     position: fixed;
     top: 60px;
     right: -450px;
     width: 450px;
     height: 100%;
     background: #ffffff;
     box-sizing: border-box;
     transition: right 0.2s;
     z-index: 999999999999;
 }
 
 .float-cart--open {
     right: 0;
 }
 
 .float-cart__close-btn {
     width: 50px;
     height: 50px;
     color: #f50404;
     background: #f8f8f8;
     text-align: center;
     line-height: 50px;
     position: absolute;
     top: 0;
     left: -50px;
     cursor: pointer;
     font-weight: 800;
 }
 
 .float-cart__close-btn:hover {
     background-color: #fbfbfd;
 }
 
 .float-cart .bag {
     width: 40px;
     height: 40px;
     position: relative;
     display: inline-block;
     vertical-align: middle;
     margin-right: 15px;
     background-image: url(https://www.soratwheels.ca/media/bag-icon.png);
     background-repeat: no-repeat;
     background-size: contain;
     background-position: center;
 }
 
 .float-cart .bag--float-cart-closed {
     position: absolute;
     background-color: #c5000000;
     background-size: 50%;
     left: -88px;
     width: 60px;
     height: 60px;
     cursor: pointer;
 }
 
 .float-cart .bag--float-cart-closed .bag__quantity {
     bottom: 5px;
     right: 10px;
 }
 
 .float-cart .bag__quantity {
     display: inline-block;
     width: 18px;
     height: 18px;
     color: #070707;
     font-weight: bold;
     font-size: 0.7em;
     text-align: center;
     line-height: 18px;
     border-radius: 50%;
     background-color: #eabf00;
     position: absolute;
     bottom: -5px;
     right: 0px;
 }
 
 .float-cart__header {
     background-color: #e40606;
     color: #0f0f0f;
     box-sizing: border-box;
     text-align: center;
     padding: 25px 0;
 }
 
 .float-cart__header .header-title {
     font-weight: bold;
     font-size: 1.2em;
     vertical-align: middle;
 }
 
 .float-cart__shelf-container {
     position: relative;
     min-height: 280px;
     padding-bottom: 200px;
 }
 
 .float-cart__shelf-container .shelf-empty {
     color: #1d1d1d;
     text-align: center;
     line-height: 40px;
 }
 
 .float-cart__shelf-container .shelf-item {
     position: relative;
     box-sizing: border-box;
     padding: 5%;
     transition: background-color 0.2s, opacity 0.2s;
 }
 
 .float-cart__shelf-container .shelf-item::before {
     content: '';
     width: 90%;
     height: 2px;
     background-color: rgb(24, 24, 24);
     position: absolute;
     top: 0;
     left: 5%;
 }
 
 .float-cart__shelf-container .shelf-item--mouseover {
     background: #fbfafc;
 }
 
 .float-cart__shelf-container .shelf-item--mouseover .shelf-item__details .title,
 .float-cart__shelf-container .shelf-item--mouseover .shelf-item__details .desc {
     text-decoration: line-through;
     opacity: 0.6;
 }
 
 .float-cart__shelf-container .shelf-item--mouseover .shelf-item__price {
     text-decoration: line-through;
     opacity: 0.6;
 }
 
 .float-cart__shelf-container .shelf-item__del {
     width: 16px;
     height: 16px;
     top: 15px;
     right: 5%;
     border-radius: 50%;
     position: absolute;
     background: url(https://www.soratwheels.ca/media/sprite_delete-icon.png);
     z-index: 2;
     cursor: pointer;
 }
 
 .float-cart__shelf-container .shelf-item__del:hover {
     background-position-x: -17px;
 }
 
 .float-cart__shelf-container .shelf-item__thumb,
 .float-cart__shelf-container .shelf-item__details,
 .float-cart__shelf-container .shelf-item__price {
     display: inline-block;
     vertical-align: middle;
 }
 
 .float-cart__shelf-container .shelf-item__thumb {
     vertical-align: middle;
     width: 15%;
     margin-right: 3%;
 }
 
 .float-cart__shelf-container .shelf-item__thumb img {
     width: 100%;
     height: auto;
 }
 
 .float-cart__shelf-container .shelf-item__details {
     width: 57%;
 }
 
 .float-cart__shelf-container .shelf-item__details .title {
     color: #030303;
     margin: 0;
 }
 
 .float-cart__shelf-container .shelf-item__details .desc {
     color: #5b5a5e;
     margin: 0;
 }
 
 .float-cart__shelf-container .shelf-item__price {
     color: #b40909;
     text-align: right;
     width: 25%;
 }
 
 .float-cart__shelf-container .shelf-item .change-product-button {
     color: #b7b7b7;
     border: 0;
     background-color: rgb(250, 246, 246);
     width: 25px;
     height: 25px;
     box-shadow: none;
 }
 
 .float-cart__shelf-container .shelf-item .change-product-button:disabled {
     opacity: 0.2;
 }
 
 .float-cart__footer {
     box-sizing: border-box;
     padding: 1% 4% 4% 4%;
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 385px;
     z-index: 2;
     background-color: #f2f2f3;
     text-align: left;
 }
 
 .float-cart__footer::before {
     content: '';
     width: 100%;
     height: 20px;
     display: block;
     position: absolute;
     top: -20px;
     left: 0;
     background: linear-gradient(to top, rgba(245, 243, 243, 0.2), transparent);
 }
 
 .float-cart__footer .sub,
 .float-cart__footer .sub-price {
     color: #5b5a5e;
     vertical-align: middle;
     display: inline-block;
 }
 
 .float-cart__footer .sub {
     width: 20%;
 }
 
 .float-cart__footer .sub-price {
     width: 80%;
     text-align: right;
 }
 
 .float-cart__footer .sub-price__val,
 .float-cart__footer .sub-price__installment {
     margin: 0;
 }
 
 .float-cart__footer .sub-price__val {
     color: #770909;
     font-size: 22px;
     font-weight: 700;
 }
 
 .float-cart__footer .buy-btn {
     color: #ececec;
     text-transform: uppercase;
     background-color: #ffffff;
     text-align: center;
     padding: 15px 0;
     margin-top: 40px;
     cursor: pointer;
     transition: background-color 0.2s;
 }
 
 .float-cart__footer .buy-btn:hover {
     background-color: rgb(248, 245, 245);
 }
 
@media screen and (min-width: 640px) {
     .float-cart__content::-webkit-scrollbar {
         -webkit-appearance: none;
         width: 10px;
         background-color: rgba(252, 249, 249, 0.459);
         padding: 10px;
     }
     .float-cart__content::-webkit-scrollbar-thumb {
         border-radius: 4px;
         background-color: #f8f8fa;
     }
     .discount2 {
        padding-top: 10px;
    }
}
 
.float-cart__content {
     height: 65%;
     overflow-y: scroll;
}

@media screen and (max-width: 620px) {

    .discount2 {
        padding-top: 30px;
    }

    .float-cart {
        position: fixed;
        top: 69px;
        right: -325px;
        width: 325px;
        height: 100%;
        background: #ffffff;
        box-sizing: border-box;
        transition: right 0.4s;
        z-index: 999999999999;
    }
    
    .float-cart--open {
        right: 0;
    }
    
    .float-cart__close-btn {
        width: 50px;
        height: 50px;
        color: #f50404;
        background: #f8f8f8;
        text-align: center;
        line-height: 50px;
        position: absolute;
        top: 0;
        left: -50px;
        cursor: pointer;
        font-weight: 800;
    }
    
    .float-cart__close-btn:hover {
        background-color: #fbfbfd;
    }
    
    .float-cart .bag {
        width: 40px;
        height: 40px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        background-image: url(https://www.soratwheels.ca/media/bag-icon.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
    
    .float-cart .bag--float-cart-closed {
        position: absolute;
        background-color: #c5000000;
        background-size: 50%;
        left: -60px;
        top: -29px;
        width: 60px;
        height: 60px;
        cursor: pointer;
    }
    
    .float-cart .bag--float-cart-closed .bag__quantity {
        bottom: 5px;
        right: 10px;
    }
    
    .float-cart .bag__quantity {
        display: inline-block;
        width: 18px;
        height: 18px;
        color: #070707;
        font-weight: bold;
        font-size: 0.7em;
        text-align: center;
        line-height: 18px;
        border-radius: 50%;
        background-color: #eabf00;
        position: absolute;
        bottom: -5px;
        right: 0px;
    }
    
    .float-cart__header {
        background-color: #e40606;
        color: #0f0f0f;
        box-sizing: border-box;
        text-align: center;
        padding: 5px 0;
    }
    
    .float-cart__header .header-title {
        font-weight: bold;
        font-size: 1.2em;
        vertical-align: middle;
    }
    
    .float-cart__shelf-container {
        position: relative;
        min-height: 280px;
        padding-bottom: 200px;
    }
    
    .float-cart__shelf-container .shelf-empty {
        color: #1d1d1d;
        text-align: center;
        line-height: 40px;
    }
    
    .float-cart__shelf-container .shelf-item {
        position: relative;
        box-sizing: border-box;
        padding: 3%;
        transition: background-color 0.2s, opacity 0.2s;
        text-align: left;
    }
    
    .float-cart__shelf-container .shelf-item::before {
        content: '';
        width: 90%;
        height: 2px;
        background-color: rgb(24, 24, 24);
        position: absolute;
        top: 0;
        left: 5%;
    }
    
    .float-cart__shelf-container .shelf-item--mouseover {
        background: #fbfafc;
    }
    
    .float-cart__shelf-container .shelf-item--mouseover .shelf-item__details .title,
    .float-cart__shelf-container .shelf-item--mouseover .shelf-item__details .desc {
        text-decoration: line-through;
        opacity: 0.6;
    }
    
    .float-cart__shelf-container .shelf-item--mouseover .shelf-item__price {
        text-decoration: line-through;
        opacity: 0.6;
    }
    
    .float-cart__shelf-container .shelf-item__del {
        width: 16px;
        height: 16px;
        top: 15px;
        right: 5%;
        border-radius: 50%;
        position: absolute;
        background: url(https://www.soratwheels.ca/media/sprite_delete-icon.png);
        z-index: 2;
        cursor: pointer;
    }
    
    .float-cart__shelf-container .shelf-item__del:hover {
        background-position-x: -17px;
    }
    
    .float-cart__shelf-container .shelf-item__thumb,
    .float-cart__shelf-container .shelf-item__details,
    .float-cart__shelf-container .shelf-item__price {
        display: inline-block;
        vertical-align: middle;
    }
    
    .float-cart__shelf-container .shelf-item__thumb {
        vertical-align: middle;
        width: 15%;
        margin-right: 3%;
    }
    
    .float-cart__shelf-container .shelf-item__thumb img {
        width: 100%;
        height: auto;
    }
    
    .float-cart__shelf-container .shelf-item__details {
        width: 57%;
    }
    
    .float-cart__shelf-container .shelf-item__details .title {
        color: #030303;
        margin: 0;
    }
    
    .float-cart__shelf-container .shelf-item__details .desc {
        color: #5b5a5e;
        margin: 0;
    }
    
    .float-cart__shelf-container .shelf-item__price {
        color: #b40909;
        text-align: right;
        width: 25%;
    }
    
    .float-cart__shelf-container .shelf-item .change-product-button {
        color: #b7b7b7;
        border: 0;
        background-color: rgb(250, 246, 246);
        width: 25px;
        height: 25px;
        box-shadow: none;
    }
    
    .float-cart__shelf-container .shelf-item .change-product-button:disabled {
        opacity: 0.2;
    }
    
    .float-cart__footer {
        box-sizing: border-box;
        padding: 3%;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 375px;
        z-index: 2;
        background-color: #f2f2f3;
    }
    
    .float-cart__footer::before {
        content: '';
        width: 100%;
        height: 20px;
        display: block;
        position: absolute;
        top: -20px;
        left: 0;
        background: linear-gradient(to top, rgba(245, 243, 243, 0.2), transparent);
    }
    
    .float-cart__footer .sub,
    .float-cart__footer .sub-price {
        color: #5b5a5e;
        vertical-align: middle;
        display: inline-block;
    }
    
    .float-cart__footer .sub {
        width: 30%;
    }
    
    .float-cart__footer .sub-price {
        width: 70%;
        text-align: right;
    }
    
    .float-cart__footer .sub-price__val,
    .float-cart__footer .sub-price__installment {
        margin: 0;
    }
    
    .float-cart__footer .sub-price__val {
        color: #770909;
        font-size: 22px;
        font-weight: 700;
    }
    
    .float-cart__footer .buy-btn {
        color: #ececec;
        text-transform: uppercase;
        background-color: #ffffff;
        text-align: center;
        padding: 15px 0;
        margin-top: 40px;
        cursor: pointer;
        transition: background-color 0.2s;
    }
    
    .float-cart__footer .buy-btn:hover {
        background-color: rgb(248, 245, 245);
    }

    .vehicleSelection-contentTires__btnlist {
        color: white;
        background-color: #C50000;
        border-radius: 0px;
        border: 0px;
        font-size: 9px;
        width: 33%;
        margin-left: 2px;
        font-weight: 500;
    }
}
